@import "tailwindcss";
@import "tailwindcss/preflight.css" layer(base);

@layer base;

:root {
  --background: #6770da;
  --foreground: #ededed;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #101828;
  }
}

@layer base {
  * {
    box-sizing: border-box;
  }

  body {
    color: var(--foreground);
    background: var(--background);
  }

  h1 {
    font-size: 60px;
    font-weight: 600;
  }

  button {
    cursor: pointer;
  }
}
